<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>

    <title>Andrew's Resume</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="https://all-detectors.com/django2/css/reset.css"/>
    <link rel="stylesheet" type="text/css" href="https://all-detectors.com/django2/css/style.css"/>
        <link rel="stylesheet" type="text/css" href="https://all-detectors.com/django2/css/fancybox.css"/>
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,800,700,400italic|PT+Serif:400,400italic"/>

    <script type="text/javascript" src="https://all-detectors.com/django2/js/jquery.min.js"></script>
    <script type="text/javascript" src="https://all-detectors.com/django2/js/jquery.easytabs.min.js"></script>
    <script type="text/javascript" src="https://all-detectors.com/django2/js/respond.min.js"></script>
    <script type="text/javascript" src="https://all-detectors.com/django2/js/jquery.easytabs.min.js"></script>
	<script type="text/javascript" src="https://all-detectors.com/django2/js/jquery.adipoli.min.js"></script>
    <script type="text/javascript" src="https://all-detectors.com/django2/js/jquery.fancybox-1.3.4.pack.js"></script>
    <script type="text/javascript" src="https://all-detectors.com/django2/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="https://all-detectors.com/django2/js/jquery.gmap.min.js"></script>
    <script type="text/javascript" src="https://all-detectors.com/django2/js/custom.js"></script>

</head>
    <body>
        <!-- Container -->
        <div id="container">

            <!-- Top -->
			<div class="top">
            	<!-- Logo -->
            	<div id="logo">
                	<h2>Andrew Zolotoverkhyi</h2>
                    <h4>Student CSTU</h4>
                </div>
                <!-- /Logo -->

                <!-- Social Icons -->
                <ul class="socialicons">
                	<li><a href="#" class="social-text">SOCIAL PROFILES</a></li>
                	<li><a href="#" class="social-facebook"></a></li>
                    <li><a href="#" class="social-twitter"></a></li>
                    <li><a href="#" class="social-googleplus"></a></li>
                </ul>
                <!-- /Social Icons -->
            </div>
            <!-- /Top -->

            <!-- Content -->
            <div id="content" >

                <!-- Profile -->
                <div id="profile">
                 	<!-- About section -->
                	<div class="about">
                    	<div class="photo-inner"><img src="https://all-detectors.com/django2/images/photo.jpg" height="186" width="153" /></div>
                        <h1>Andrew</h1>
                        <h3>Student CSTU</h3>
                        <p>Я стдуент ЧДТУ. Вивчаю предмет Python для Web. Зараз я створюю резюме</p>
                    </div>
                    <!-- /About section -->

                    <!-- Personal info section -->
                	<ul class="personal-info">
						<li><label>Name</label><span>Andrew Zolotoverkhyi</span></li>
                        <li><label>Date of birth</label><span>December 13, 2001</span></li>
                        <li><label>Address</label><span>Cherkasy, Ukraine</span></li>
                        <li><label>Email</label><span>a-zolotoverhii@ukr.net</span></li>
                        <li><label>Phone</label><span>+380 96 800 7000</span></li>
                        <li><label>Website</label><span>www.all-detectors.com</span></li>
                    </ul>
                    <!-- /Personal info section -->
                </div>
                <!-- /Profile -->

                <!-- Menu -->
                <div class="menu">
                	<ul class="tabs">
                    	<li><a href="#profile" class="tab-profile">Profile</a></li>
                    	<li><a href="#resume" class="tab-resume">Resume</a></li>
                    	<li><a href="#portfolio" class="tab-portfolio">Portfolio</a></li>
                    	<li><a href="#contact" class="tab-contact">Contact</a></li>
                    </ul>
                </div>
                <!-- /Menu -->

                <!-- Resume -->
                <div id="resume">
                	 <div class="timeline-section">
                        <!-- Timeline for Employment  -->
                        <h3 class="main-heading"><span>Employment</span></h3>
                        <ul class="timeline">
                            <li>

                                <div class="timelineUnit">
                                    <h4>Django<span class="timelineDate">2020 - present</span></h4>
                                    <p>Django is a high-level Python Web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of Web development, so you can focus on writing your app without needing to reinvent the wheel. It’s free and open source.</p>
                                </div>
                            </li>
                            <li>
                            </li>
                            <div class="clear"></div>
                        </ul>
                        <!-- /Timeline for Employment  -->

                        <!-- Timeline for Education  -->
                        <h3 class="main-heading"><span>Education</span></h3>
                         <ul class="timeline">
                            <li>
                                <div class="timelineUnit">
                                    <h4>Cherkasy State Technological University<span class="timelineDate">2019 - present</span></h4>
                                    <h5>School Of Design</h5>
                                </div>
                            </li>
                            <div class="clear"></div>
                        </ul>
                        <!-- /Timeline for Education  -->
                    </div>
                    <div class="skills-section">
                        <!-- Skills -->
                        <h3 class="main-heading"><span>Graphics and media skills</span></h3>
                        <ul class="skills">
                            <li>
                                <h4>Photoshop</h4>
                                <span class="rat4"></span>
                            </li>
                            <li>
                        </ul>

                        <h3 class="main-heading"><span>Programming Skills</span></h3>
                        <ul class="skills">
                            <li>
                                <h4>Pyhton</h4>
                                <span class="rat3"></span>
                            </li>
                            <li>
                                <h4>Java</h4>
                                <span class="rat2"></span>
                            </li>
                            <li>
                                <h4>C++</h4>
                                <span class="rat2"></span>
                            </li>
                            <li>
                                <h4>C#</h4>
                                <span class="rat2"></span>
                            </li>
                            <li>
                        </ul>
                        <h3 class="main-heading"><span>Design Skills</span></h3>
                        <ul class="skills">
                            <li>
                                <h4>Graphic Design</h4>
                                <span class="rat3"></span>
                            </li>
                            <li>
                        </ul>
                     <!-- /Skills -->
                     </div>
                </div>
                <!-- /Resume -->

                <!-- Portfolio -->
                <div id="portfolio">
                    <div class="extra-text">My works</div>
                    <ul id="portfolio-list">
                        <li class="illustration print">
                            <a href="portfolio/1.jpg" rel="portfolio">
                                <img src="https://all-detectors.com/django/portfolio/1-thumb.jpg" alt="">
                                <h2 class="title">My first resume</h2>
                                <span class="categorie">HTML / CSS</span>
                            </a>
                    	</li>

                    </ul>
                </div>
                <!-- /Portfolio -->

                <!-- Contact -->
                <div id="contact">
                	<div id="map"></div>
                	<!-- Contact Info -->
                    <div class="contact-info">
                    <h3 class="main-heading"><span>Contact info</span></h3>
                	<ul>
                        <li>Ukraine, Cherkasy region, Cherkassy, boulevard Schevchenko 460<br /><br /></li>
                        <li>Email: i3um1312@gmail.com</li>
                        <li>Phone: +380 96 800 7000</li>
                        <li>Website: mysite.ck.ua</li>
                    </ul>
                    </div>
                    <!-- /Contact Info -->

                    <!-- Contact Form -->
                    <div class="contact-form">
                        <h3 class="main-heading"><span>Let's keep in touch</span></h3>
                        <div id="contact-status"></div>
                        <form action="#" id="contactform">
                            <p>
                            	<label for="name">Your Name</label>
                            	<input type="text" name="name" class="input" >
                            </p>
                            <p>
                            	<label for="email">Your Email</label>
                            	<input type="text" name="email" class="input">
                            </p>
                            <p>
                            	<label for="message">Your Message</label>
                                <textarea name="message" cols="88" rows="6" class="textarea" ></textarea>
                            </p>
                            <input type="submit" name="submit" value="Send your message" class="submit">
                        </form>
                    </div>
                    <!-- /Contact Form -->
                </div>
                <!-- /contact -->

            </div>
            <!-- /Content -->

        </div>
		<!-- /Container -->
    </body>
	</html>